/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f2e0; /* Soft light green to complement the tropical scene */
    color: #2d3c2f; /* Dark greenish-gray for readability */
    background-image: url('../img/Beauty.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Header and Title Styling */
h1 {
    margin: 0;
    padding: 5px;
    color: #79bfa1; /* Light tropical green */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(230, 242, 224, 0.7); /* Light, semi-transparent green overlay */
    padding: 5px;
    border-radius: 8px;
}

/* CSS Selector styling */
.css-selector {
    margin-right: 10px;
}

/* Column and Row Layout */
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

/* Folder and Bookmark Styling */
.folder, .bookmark {
    background-color: rgba(121, 191, 161, 0.8); /* Tropical green with transparency */
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}
.bookmark a {
    text-decoration: none;
    color: #52a88c; /* Aqua green for links */
    font-weight: bold;
}
.bookmark a:hover {
    text-decoration: underline;
}
.bookmark-desc {
    font-size: 0.9em;
    color: #2d3c2f; /* Dark greenish-gray for description text */
}

/* Collapsible Button Styling */
.collapsible, .collapsible-file, .collapsible-button {
    background-color: #387b66; /* Darker tropical green for a natural, earthy feel */
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
}
.active, .collapsible:hover, .collapsible-file:hover {
    background-color: #4c9a80; /* Lighter green for hover effect */
}

/* Collapsible Content Styling */
.collapsible-content, .content, .content-file {
    display: none;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(121, 191, 161, 0.7); /* Light transparent green background */
    margin-top: 5px;
    border-radius: 8px;
}
