/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Dark gray for a tactical, urban feel */
    color: #d1d1d1; /* Soft light gray for readability */
    background-image: url('../img/RedFox.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

/* Header and Title Styling */
h1 {
    margin: 0;
    padding: 5px;
    color: #b58b4a; /* Muted earthy brown for a rugged look */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.8); /* Dark overlay for contrast */
    padding: 5px;
    border-radius: 8px;
}

/* CSS Selector styling */
.css-selector {
    margin-right: 10px;
}

/* Column and Row Layout */
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

/* Folder and Bookmark Styling */
.folder, .bookmark {
    background-color: rgba(91, 91, 91, 0.8); /* Dark gray with transparency */
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}
.bookmark a {
    text-decoration: none;
    color: #b58b4a; /* Muted brown for links */
    font-weight: bold;
}
.bookmark a:hover {
    text-decoration: underline;
}
.bookmark-desc {
    font-size: 0.9em;
    color: #d1d1d1; /* Light gray for description text */
}

/* Collapsible Button Styling */
.collapsible, .collapsible-file, .collapsible-button {
    background-color: #444444; /* Darker gray for a strong, tactical look */
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
}
.active, .collapsible:hover, .collapsible-file:hover {
    background-color: #5c5c5c; /* Slightly lighter gray for hover effect */
}

/* Collapsible Content Styling */
.collapsible-content, .content, .content-file {
    display: none;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(91, 91, 91, 0.7); /* Dark, transparent gray */
    margin-top: 5px;
    border-radius: 8px;
}
