/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b; /* Dark gray to enhance the somber mood */
    color: #dcdcdc; /* Light gray for readability */
    background-image: url('../img/Apocalypse.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Header and Title Styling */
h1 {
    margin: 0;
    padding: 5px;
    color: #a69f91; /* Muted, earthy brown to blend with the scene */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.7); /* Dark overlay for contrast */
    padding: 5px;
    border-radius: 8px;
}

/* CSS Selector styling */
.css-selector {
    margin-right: 10px;
}

/* Column and Row Layout */
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

/* Folder and Bookmark Styling */
.folder, .bookmark {
    background-color: rgba(67, 67, 67, 0.8); /* Dark gray with opacity for a worn look */
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}
.bookmark a {
    text-decoration: none;
    color: #a69f91; /* Earthy brown for links */
    font-weight: bold;
}
.bookmark a:hover {
    text-decoration: underline;
}
.bookmark-desc {
    font-size: 0.9em;
    color: #dcdcdc; /* Light gray for description text */
}

/* Collapsible Button Styling */
.collapsible, .collapsible-file, .collapsible-button {
    background-color: #4b4b4b; /* Dark gray for a rugged, distressed look */
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
}
.active, .collapsible:hover, .collapsible-file:hover {
    background-color: #6a6a6a; /* Slightly lighter gray for hover effect */
}

/* Collapsible Content Styling */
.collapsible-content, .content, .content-file {
    display: none;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(67, 67, 67, 0.7); /* Dark transparent gray */
    margin-top: 5px;
    border-radius: 8px;
}
