/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light cyan to reflect the ocean and sky tones */
    color: #333333; /* Dark gray for readable text */
    background-image: url('../img/goldengate.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Header and Title Styling */
h1 {
    margin: 0;
    padding: 5px;
    color: #e74c3c; /* Red-orange to match the bridge color */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Light overlay for contrast */
    padding: 5px;
    border-radius: 8px;
}

/* CSS Selector styling */
.css-selector {
    margin-right: 10px;
}

/* Column and Row Layout */
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 33.33%;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

/* Folder and Bookmark Styling */
.folder, .bookmark {
    background-color: rgba(220, 220, 220, 0.8); /* Light gray background */
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}
.bookmark a {
    text-decoration: none;
    color: #e74c3c; /* Bridge red-orange for link color */
    font-weight: bold;
}
.bookmark a:hover {
    text-decoration: underline;
}
.bookmark-desc {
    font-size: 0.9em;
    color: #333333;
}

/* Collapsible Button Styling */
.collapsible, .collapsible-file, .collapsible-button {
    background-color: #3498db; /* Sky blue for a refreshing look */
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
}
.active, .collapsible:hover, .collapsible-file:hover {
    background-color: #2980b9; /* Slightly darker blue for hover effect */
}

/* Collapsible Content Styling */
.collapsible-content, .content, .content-file {
    display: none;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(220, 220, 220, 0.7); /* Light transparent background */
    margin-top: 5px;
    border-radius: 8px;
}
